APP_NAME=My API
API_V1_PREFIX=/api/v1
AWS_REGION=us-east-1
DYNAMODB_ENDPOINT_URL=
DYNAMODB_ITEMS_TABLE=items
DYNAMODB_USERS_TABLE=users
DYNAMODB_COMPANIES_TABLE=companies
DYNAMODB_CANDIDATURAS_TABLE=candidaturas
DYNAMODB_VAGAS_TABLE=vagas
ENV=dev
